.tltA{
    font-size: 50px;
    text-align: center;
    color: white;
}
.tltB{
    font-size: 30px;
    text-align: center;
    color: white;
}

.lblAD1{
    font-size: 20px;
    color: white;
}

.txtAD1{
    width: 300px;
    font-size: 20px;
    color: black;
}

.divA1{
    display: flex;
}
.divA2{
    margin-left: auto;
    margin-right: auto;
}
.divA3{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btnA1{
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: 150px;
    color: white;
    background-color: black;
    font-size: 30px;
    border: none;
}
.btnA2{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 150px;
    color: white;
    background-color: black;
    font-size: 30px;
    border: none;
}
.btnA3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    font-size: 20px;
    border: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 40px;
    background-color: #C2BB00;
}
table, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 40px;
    background-color: #E1523D;
}
